<script>
	$(document).ready(function(){
		$( "#search-toggle" ).click();
	});
</script>

<h2>Results</h2>
<% if !@articles.empty? %>
	<table>
			<% @articles.each do |a| %>
				<tr>
					<td>
						<h3><%= link_to a.title, article_path(a.id) %></h3>
						<p><%= truncate(a.content, length: 140) %></p>
					</td>
				</tr>
			<% end %>
	</table>
<% else %>
	<p>No articles found</p>
<% end %>
