

<div class="span4">
    <div class="sidebar plate blurb">
    	<h2>Welcome</h2>
    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

    </div>
</div>
<div class="span4">
    <div class="sidebar plate blurb">
    	<h2>Get Started</h2>
    	The fastest way to get going is to go through our wizard and follow the simple steps to publishing your article. 

    	However, if you are´nt the creative type you might want to try browsing the hundreds of articles already published by other people.

    	If you are looking for something specific, feel free to search for it.
    </div>
</div>
<div class="span4">
    <div class="sidebar plate blurb">
    	<h2>About Us</h2>
       	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </div>
</div>
