

<div class="span4">
    <div class="sidebar plate blurb">
    	<h2>Get Started</h2>
    </div>
</div>
<div class="span4">
    <div class="sidebar plate blurb">
    	<h2>Welcome</h2>
    </div>
</div>
<div class="span4">
    <div class="sidebar plate blurb">
    	<h2>About Us</h2>
    </div>
</div>
