

<div class="span4">
    <div class="sidebar plate">nej</div>
</div>
<div class="span4">
    <div class="sidebar plate">men</div>
</div>
<div class="span4">
    <div class="sidebar plate">tjena</div>
</div>
