<h1>About Us</h1>
<p>This is a mockup of an application. It's purpose is to give a feeling of what the final application will be able to do. 
All features shown are simplified versions of what is to come and some features aren't even present at all.
Hopefully we'll get the chance to develop the application until it's full potential is met</p>
