// Place all the styles related to the register and session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#acount-wrapper{
	background:#e8e8e8;
}

.loginbox{
	border:5px solid #e8e8e8;
	padding:20px;
	background:white;
	text-align:center;
	margin:auto;
}

.ssubmit{
	border:5px solid #4fc1e9;
	color:white;
	padding:10px;
	background:#4fc1e9;
}