/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #search-div{
 	display: none;
 	background:#e9573f; 
 }

 .search-toggle-active{
 	background: #e9573f; 
 }

 .stage{
 	display: block;
 	margin:5px;
 	padding:5px;
 	border-left: 1px solid #fc6e51;
 	border-right: 1px solid #fc6e51;
 }

 .content{
 	display: block;
 	padding:20px;
 	background:white;
 	margin-top: 5px;
 }

 .nav{
 	text-decoration: none;
 	line-height: 40px;
 	color: #fff;
 	background:#fc6e51; 
 }

 .sidebar{
 	background:#e8e8e8;
 	margin:5px;
 }

 .footnote{
 	padding-right: 10px;
 	color: lightgray;
 	text-align: right;
 	background:#333333;
 }

 .btn{
 	float:right;
	padding: 0 20px;
	text-decoration: none;
 	line-height: 40px;
 	color: #fff;
 }

 .btn a{
 	color: #fff;
 }

 *{
 	margin: 0;
 }
 
 html, body{
 	height: 100%;
 }

 .wrapper{
 	background:#e8e8e8;
 	min-height: 100%;
 	height: auto !important;
 	height: 100%;
 	margin: 0 auto -65px;
 }

 .footer, .push{
 	height: 65px; 
 }

.sidelabel{
	background: #fc6e51; 
	padding:10px;
}

.sidebody{
	padding:10px;
	background: white ;
}


 /*Navbar dropdowns*/
.navigation{
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation li{
	float: left;

}

.navigation li:hover{
	background: #e9573f;
}


.navigation li a{
	display: block;
	padding: 0 20px;
	text-decoration: none;
 	line-height: 40px;
 	color: #fff;
}

.navigation ul{
	display: none;
	position: absolute;
	list-style: none;
	padding: 0;
	overflow: hidden;
}

.navigation ul li{
	float: none;
}

.navigation li:hover > ul{
	display: block;
	background: #e9573f;
	border-top: 0;
}


.navigation li li a:hover{
	background: #000;
}


table {
	width: 100%;
	text-align: left; }

th {
	font-weight: bold;
	background:#fc6e51; 
	color:white;
}

td,th {
	padding: 10px 5px; 
}

th a{
	color:white;
}

th a:hover{
	color:white;
}

th:hover{
	background:#e9573f;
}

tr:nth-of-type(odd) {
 background:#e8e8e8;
} 

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  
{

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none; 
		position: relative;
	}
}