
.wizard .wizard-header {
	background:#fc6e51; 
	padding: 10px 5px;
	margin: 0 0 10px 0;
	color:#fff;
}

.wizard .wizard-step {
	margin: 10px;
}

.wiz-navigation {
	border-top: #ddd 1px solid;
	margin-top: 10px;
	padding-top: 10px;
}

.wiz-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wiz-navigation li {
	float: left;
	margin-right: 10px;
}

.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}