<div id="brancher">
	<h2>Branching Wizard</h2>

	<form name="brancher">
		<div class="step">
			<p>This is a branching wizard. You will see different steps depending on your answers.</p>
		</div>

		<div class="step" data-state="wiz">
			<p>What is the nature of your search?</p>
			
			<label for="wizTypeCom"><input type="radio" name="wiz" value="com" id="wizCom" />Commercial</label>
			
			<label for="wizDIY"><input type="radio" name="wiz" value="DIY" id="wizDIY" />DIY</label>
			
			<label for="wizResearch"><input type="radio" name="wiz" value="resh" id="wizResh" />Research</label>
		</div>

		<div class="branch" id="com">
			
			<div class="step" data-state="com20">
				<p>Would you buy a solar product?.</p>
				<label for="wizTypeCom"><input type="radio" name="com20" value="com21" id="wizCom" />yes!</label>
				<label for="wizTypeCom"><input type="radio" name="com20" value="com22" id="wizCom" />no/<label>
			</div>

					<div class="branch" id="com21">
						<div class="step" data-state="com21">
							<p>Exellent to hear.</p>
						</div>
					</div>

					<div class="branch" id="com22">
						<div class="step" data-state="com22">
							<p>perhaps make one yourself?</p>
						</div>
					</div>
					


		</div>

		
		<div class="branch" id="DIY">
			<div class="step" data-state="end">
				<p>Do it yourself.</p>
			</div>
		</div>

		<div class="branch" id="com21">
			<div class="step" data-state="end">
				<p>Do it yourself.</p>
			</div>
		</div>


		<div class="step" id="end">
			<p>Back to the default branch and this wizard is over.</p>
		</div>

		<div class="wiz-navigation">
			<ul class="clearfix">
				<li><button type="button" name="backward" class="backward ssubmit">Backward</button></li>
				<li><button type="button" name="forward" class="forward ssubmit">Forward</button></li>
			</ul>
		</div>
	</form>
</div>



